* {
    font-family: 'Poppins', sans-serif;
}

.top-navbar {
    background-color: #2460b9;
    height: 30px;
    font-family: 'Poppins', sans-serif;
}

.nav-item i {
    padding: 0px;
    font-size: 14px;
}

.icon-inline {
    margin-right: 50px;
}

.socaial-icon {
    padding: 15px;
    margin-left: 15px;
    list-style: none;
}

#nepali-english {
    list-style-type: none;
}

.flag-nepal {
    height: 13px;
    margin: 2px;
}

.flag-nepal:hover {
    text-decoration: none;
}

.flag-uk {
    height: 13px;
    padding: 0px;
    margin: 2px
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' %3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);
}

.logo {
    height: 45px;
}



/* Main Navigation bar */
nav {
    background-color: #2460b9;
    color: #ffff;
    border: 0px solid #2460b9;
    /* height: 7vh; */
}

.navbar-nav .nav-link {
    color: #ffff;
    padding: 10px;
    margin-right: 18px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* center nav meneu */

.center-nav {
    background-color: #FAFAFA;
    height: 14vh;
    font-family: 'Poppins', sans-serif;
}

/* center logo */
.center-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.center-logo img {
    margin: auto;
    display: block;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
}

/* center text */
.whole-text {
    margin-top: 26px;
}

.center-text {
    margin-top: -1px;
    padding: 5px;
}

.center-text #pradesh_shava_sachib,
#pradesh_shava {
    font-size: 14px;
    line-height: 10px;
    font-weight: 600;
    text-align: center;
}

.center-text #pradesh_shava_sachib {
    font-size: 18px;
    line-height: 10px;
    font-weight: 600;
    text-align: center;
}

.gandaki-pradesh {
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    font-weight: 600;
}


/* flag and date time */
.center-logo-flag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: -50px;
}

.time_iframe {
    font-size: 6px;
}

.center-logo-flag img {
    margin-top: 40px;
    height: 40px;
    margin-right: 90px;
}

/* pradesh-notice */
.pradesh-notice {
    background-color: #BD0912;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

.pradesh-notice marquee {
    font-size: 12px;
    vertical-align: middle;
    padding: 10px;
    font-weight: 500;
}

/* first section */

.carousel-item img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.flex-container {
    display: flex;
    flex: 1;
}

.second {
    margin: 10px;
    padding: 20px;
    flex: 1;
    font-size: 30px;
    margin-top: -20px;
}

.first {
    flex: 3
}



.home-section {
    overflow: hidden;
}

.head-bg {
    margin-top: 10px;
    padding: 1px;
    vertical-align: middle;
    border-radius: 5px;
    margin: 5px;
    margin-left: -2px;
    background-color: #2460b9;
}

.head-bg h2 {
    padding: 5px;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 2px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

#chief-card {
    margin-top: 30px;

}

#sub-chief-card {
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#image-first {
    min-height: 15vh;
    max-width: 130%;
    padding: 5px;
}

.dropdown-my {
    float: left;
    overflow: hidden;
}

.dropdown-my .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* .navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
} */
#color-navbar {
    color: #fff;
    text-decoration: none;
}

#color-navbar:hover {
    color: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-my:hover .dropdown-content {
    display: block;
}

#name {
    font-weight: 600;
    font-size: 1.3vw;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 90px;
    left: 70px;
}

#post {
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7rem;
    margin-top: 0px;
    position: relative;
    left: 70px;
    bottom: 100px;
    color: rgb(188, 171, 171);
}
#read-more {
    background-color: #BD0912;
    color: #ffff;
    font-size: 0.5rem;
    float: right;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    padding: 5px;
    margin-top: -40px;
}

/* second section */
/* second section */

.second-section {
    margin-top: 20px;
    margin-bottom: -120px;
}

.press-release {
    background-color: #2460b9;
    padding: 20px;
    min-height: 50vh;
}

.download-release {
    background-color: #2460b9;
    padding: 20px;
    min-height: 50vh;
}

#read-all {
    background-color: #BD0912;
    color: #ffff;
    float: right;
    font-size: 0.8rem;
    margin-right: 20px;
    float: right;
}

#read-all-download {
    background-color: #BD0912;
    color: #ffff;
    float: right;
    font-size: 0.8rem;
    margin-right: 60px;
    float: right;
}

.press-flex {
    flex: 1.5;
}

.download-flex {
    flex: 1.5;
}

.sachibflex {
    position: relative;
    margin: 10px;
    padding: 20px;
    position: relative;
    margin-top: -25px;
    flex: 1;
}

.main-card {
    margin-top: 30px;

}

#chief-card-second {
    height: 25vh;
    margin-top: -10px;
    border: 0px solid;


}

.img-wrap {

    object-fit: contain;
}

#image-first-sc {
    width: 40%;
    height: 17vh;
    object-fit: cover;
}

.patro-flex {
    flex: 1.5;
}

.parkasan-flex {

    flex: 1.5;
}

.press-release h1 {
    position: relative;
    left: 70px;
    padding: 5px;
    margin: 0px;
    font-size: 1.5rem;
    color: #ffff;
    border-bottom: 4px solid white;
    width: 135px;
}

.download-release h1 {
    padding: 5px;
    margin: 0px;
    font-size: 1.5rem;
    color: #ffff;
    border-bottom: 4px solid white;
    width: 135px;
}



.patro-content {
    width: 90%;
    background-color: #2460b9;
    height: 60px;
}

.patro-content h1 {
    position: relative;
    left: 70px;

    border-bottom: 4px solid white;
    width: 208px;
}

.par-content {
    width: 100%;
    height: 60px;
    background-color: #2460b9;
}

.par-content h1 {
    border-bottom: 4px solid white;
    width: 120px;
}

.main-patro {
    position: relative;
    left: 70px;
}

.prakasn-head h1 {
    font-size: 20px;
}

.prakasan-item {
    /* margin-top: 12%; */
    margin-left: -30px;
}

.prakasan-item ul li {
    list-style: none;
    padding: 10px;
}

.prakasan-item ul li a {
    color: #2460b9;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.prakasan-item ul li a:hover {
    text-decoration: none;
    color: lightgray
}

.patro-head h1,
.prakasnhead h1 {
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
    color: #ffff;
}

.press-item {
    position: relative;
    left: 10px;
    padding: 20px;
}

.press-item ul li {
    list-style: none;
    padding: 10px;
}

.press-item ul li a {
    color: #ffff;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.press-item ul li a:hover {
    text-decoration: none;
    color: lightgray
}

.download-item {
    margin-left: -50px;
    padding: 20px;
}

.download-item ul li {
    list-style: none;
    padding: 10px;
}

.download-item ul li a {
    color: #ffff;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden -webkit-box-orient: vertical;
}

.download-item ul li a:hover {
    text-decoration: none;
    color: lightgray
}



/* सचिव/ अधिकृत */
#sachib-card {
    min-height: 10vh;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#it-card {
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#second-member-img {
    min-height: 10vh;
    max-width: 75%;
    padding: 5px;
}

#third-member-img {
    min-height: 10vh;
    max-width: 65%;
    padding: 5px;
}

#name-head {
    font-weight: 600;
    font-size: 0.7rem;
    padding: 5px;
    text-align: center;

}

#post-name {
    font-weight: 500;
    text-align: center;
    margin-top: -20px;
    font-size: 0.5rem;
}

#sub-post {
    font-weight: 500;
    text-align: center;
    font-size: 0.5rem;
    margin-top: -16px;
    color: rgb(188, 171, 171);
}

#read-more-it {
    background-color: #BD0912;
    color: #ffff;
    font-size: 0.5rem;
    float: right;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    padding: 5px;
    margin-top: -30px;
}



/* third section(Patro, prakasn, side nav */
.third-section {
    margin-top: 80px;
}

.hamro-patro-banner {
    background-color: #2460b9;
    height: 50px;
    display: block;
    padding: 10px;
    margin-top: -100px;
}

.notice-banner {
    background-color: #2460b9;
    height: 50px;
    display: block;
    min-width: 420px !important;
    padding: 10px;
    margin-top: -100px;
}


.hamro-patro-banner h1 {

    /* margin-left: 15px; */
    font-size: 1.5rem;
    color: #ffff;
    border-bottom: 4px solid #fff;
    width: 200px;

}

.notice-banner h1 {
    position: relative;
    left: 10px;
    font-size: 1.5rem;
    color: #ffff;
    border-bottom: 4px solid #fff;
    width: 90px;

}

.patro {

    left: 70px;
}

.notice-list {
    margin-left: -50px;
}

.notice-list ul li {
    list-style: none;
    margin: 0px;
    line-height: 35px;
}

.notice-list ul li a {
    color: #2460b9;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 0.8rem;
    line-height: 50px;
    font-weight: 500;
}

.notice-list ul li a:hover {
    text-decoration: none;
    color: royalblue;
}

#view-all {
    background-color: #BD0912;
    color: #ffff;
    margin-right: auto;
    float: right;
    font-size: 0.8rem;
}

/* side menu button */
.allbtn {
    margin-bottom: -5px;
}

#menu-btn {
    margin-top: 20px;
    background-color: #2460b9;
    color: #ffff;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    float: right;
}

#menu-btn:hover {
    color: white;
    outline: #2460b9;
}

/* contact  fourth section*/

.fourth-section {
    margin-top: -130px;
}

.banner-contact {
    background-color: #2460b9;
    margin-top: 130px;
    height: 60px;

}

section {
    overflow: hidden;
}

.banner-contact h1 {
    font-size: 1.5rem;
    margin: 10px;
    position: relative;
    left: 70px;
    padding: 10px;
    font-weight: 600;
    color: #ffffff;
    font-size: 1.3rem;
    border-bottom: 4px solid white;
    width: 190px;
}

#contact-info {
    position: relative;
    left: 70px;
}



.icon-address {
    color: #2460b9;
    font-size: 1rem;
}

.lctn {
    color: #2460b9;
    font-size: 1rem;
}

.contact-detail-image {
    height: 30px;
    margin: 5px;
    margin-right: 10px;
}

.title h5 {
    border-bottom: 4px solid #2460b9;
    width: 170px;
    padding: 4px;
}

#address-road {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 30px;
    color: black;
}

#phone-number-contact {
    color: black;
}

.input-group {
    margin-top: 20px;
}

#form {
    height: 300px;
    margin-top: 10px;
    position: relative;
    left: 130px;
}

#whole-form {
    padding: 10px;
}

.fbtwitter {
    margin-top: 20px;
}

.photobanner {
    background-color: #2460b9;
    padding: 5px;

}

.facebooktwitter,
.twitter-head {
    background-color: #2460b9;
    padding: 5px;
}

.photobanner h1 {
    color: #fff;
    margin-left: 30px;
    font-size: 1.3rem;
    margin: 5px;
    position: relative;
    left: 70px;
    padding: 2px;
    border-bottom: 4px solid white;
    width: 140px;
}

.facebooktwitter h1 {
    color: #fff;
    margin-left: 30px;
    font-size: 1.3rem;
    margin: 5px;
    position: relative;
    left: 0px;
    border-bottom: 4px solid white;
    width: 140px;
    padding: 2px;
}

.twitter-head h1 {
    color: #fff;
    margin-left: 30px;
    font-size: 1.3rem;
    margin: 5px;
    position: relative;
    left: 0px;
    border-bottom: 4px solid white;
    width: 120px;
    padding: 2px;
}

.vdo {
    position: relative;
    left: 70px;
    margin-top: 10px;
    width: 80%;
}

.facebook-page iframe {
    width: 100%;
    margin-top: 10px;
}

.twitter-page iframe {
    width: 98%;
    margin-top: 10px;
}

/* footer */
footer {
    overflow: hidden;
    background-color: #2460b9;
    padding: 20px;
}

.main-footer {
    left: -70px;
    position: relative;
}

.footer-title {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-title h1 {
    font-size: 19px;
    color: #fff;
    font-weight: 600;
}

.footer-title p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.footer-logo {
    justify-content: center;
    align-items: center;
    text-align: center;

}

.footer-logo img {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 190px;
    object-fit: cover;
    border-radius: 50%;
}

.footer-list-item li {
    list-style: none;
    padding: 2px;
    margin-top: 15px;
    color: white;
}

.footer-list-item li a {
    color: white;
    padding: 3px;
    font-size: 0.9rem;

}

.title-link p {
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
    border-bottom: 4px solid white;
    width: 150px;
}

.import-link {
    position: relative;
    left: 60px;
}

.related-link {
    overflow: hidden;
    position: relative;
    left: 137px;
}

.related-link p {
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
    border-bottom: 4px solid white;
    width: 260px;
}

/* sub footer */
.sub-footer {
    background-color: #1B88CB;
    padding: 2px;
}

.sub-footer p {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    vertical-align: middle;
}